body {
  background-color: black;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.div {
  width: 400px;
  display: flex;
  justify-content: center;
  border: 2px solid rgb(49, 37, 37);
  border-radius: 8px;
  background-color: rgb(29, 29, 29);
}

form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.password {
  width: 200px;
  height: 100px;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
}

button {
  width: 150px;
  height: 80px;
  border: none;
  background-color: rgb(183, 0, 0);
  color: white;
  margin: 2rem;
  font-weight: bolder;
  transition: 0.3s ease-in-out;
}

button:hover {
  background-color: rgb(214, 0, 0);
  color: black;
}

button:active {
  background-color: rgb(255, 0, 0);
}

.hidden {
  display: none;
}

span {
  margin-top: 2rem;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
}

#answer {
  width: 200px;
  height: 200px;
  background-color: rgb(0, 0, 255);
}

